<div class="col-md-8 col-sm-7">
            <div class="portlet">

              <h4 class="portlet-title">
                <u>Health equipment</u>
              </h4>

              <div class="portlet-body">

        <!-- Test -->
        <div class="media">
        <a href="#" class="pull-left">
        <img src="./img/avatars/doctor.png" class="media-object" alt="Sample Image">
        </a>

        <div class="media-body">
                <h4 class="media-heading">Dr. Okello Nelson <small><i>General Physician</i></small></h4>
        <p>Excellent feature! I love it. One day I'm definitely going to put this Bootstrap component into use and I'll let you know once I do.</p>
          <div class="thumbnail-footer">
                    <div class="pull-left">
                      <a href="javascript:;"><i class="fa fa-stethoscope">&nbsp; Book appointment</i></a>
                      <a href="javascript:;"><i class="fa fa-thumbs-up"></i> 123</a>
                      <a href="javascript:;"><i class="fa fa-thumbs-down"></i> 29</a>
                    </div>
                  </div>

        </div>
        </div>

	<div class="media">
        <a href="#" class="pull-left">
        <img src="./img/avatars/doctor.png" class="media-object" alt="Sample Image">
        </a>
        <div class="media-body">
                <h4 class="media-heading">Dr. Diana Mutheu <small><i>Psychiatrist</i></small></h4>
           <p>Excellent feature! I love it. One day I'm definitely going to put this Bootstrap component into use and I'll let you know once I do.</p>
           <div class="thumbnail-footer">
                    <div class="pull-left">
                      <a href="javascript:;"><i class="fa fa-stethoscope">&nbsp; Book appointment</i></a>
                      <a href="javascript:;"><i class="fa fa-thumbs-up"></i> 123</a>
                      <a href="javascript:;"><i class="fa fa-thumbs-down"></i> 29</a>
                    </div>
                  </div>

        </div>
        </div>

        <div class="media">
        <a href="#" class="pull-left">
        <img src="./img/avatars/doctor.png" class="media-object" alt="Sample Image">
        </a>
        <div class="media-body">
                <h4 class="media-heading">Dr. Liz Onyango <small><i>Neurosurgeon</i></small></h4>
  <p>Excellent feature! I love it. One day I'm definitely going to put this Bootstrap component into use and I'll let you know once I do.</p>
        <div class="thumbnail-footer">
                    <div class="pull-left">
                      <a href="javascript:;"><i class="fa fa-stethoscope">&nbsp; Book appointment</i></a>
                      <a href="javascript:;"><i class="fa fa-thumbs-up"></i> 123</a>
                      <a href="javascript:;"><i class="fa fa-thumbs-down"></i> 29</a>
                    </div>
                  </div>

		</div>
        	</div>
        	<!-- /Test -->

                <!-- <div id="line-chart" class="chart-holder-300"></div> -->
              </div> <!-- /.portlet-body -->

            </div> <!-- /.portlet -->

          </div> <!-- /.col -->
